modules = ["nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 41789354
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd front-end && npm run dev"
